html, body{
    margin:0;
    padding:0;
    height: 100%;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    color: lightgrey;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    gap: 100px;
    overflow: hidden;
}

.bg-video {
    position: fixed; /* Make the video fixed to the viewport; so when the page scrolls, the video remains in place */
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%); /* Center the video */
    object-fit: cover; /* Ensure the video covers the entire container */
    z-index: -1; /* Ensure the video is behind other content */
    mix-blend-mode: overlay;
}

@media (max-aspect-ratio: 16/9) {
    .bg-video {
        width:auto; /* automatically adjust width */
        height:100%; /* set height to 100% */
    }
}

@media (min-aspect-ratio: 16/9) {
    .bg-video {
        width:100%; /* set width to 100% */
        height:auto; /* automatically adjust height */
    }
}